
/* ------------- About ------------- */


#aboutBox {
    text-align: left;
}

.infoContainer {
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
}

.authorContainer {
    position: relative;
    width: 100%;
    text-align: center;
}

.authorGroup {
    display: block;
    position: relative;

}

.polaroid {
    display: inline-block;
    position: relative;
    width: 14em;
    background-color: white;
    margin: 0.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.authorImg {
    height: 12em;
    width: 12em;
    padding-top: 1em;
}

.captionContainer {
    text-align: center;
}

.authorName {
    font-family: "Zeyada";
    font-size: 1.8em;
}

#utLogo{
    width: 20vw;
    min-width: 17em;
    max-width: 30em;
}

#itaLogo {
    width: 15vw;
    min-width: 13em;
    max-width: 20em;
}

/* Mobile view */

@media (max-width: 600px) {
    .infoContainer {
        font-size: 1em;
    }

    .authorContainer {
        text-align: left;
    }

    .authorImg {
        padding-left: 1em;
    }

    .polaroid {
        margin-left: 18%;
    }
}