
/* ------------- FAQ ------------- */

#faqBox {
    text-align: left;
}

.questionsAndAnswersContainer {
    margin: 1em;
    padding: 1em;
    font-size: 1.2em;
}

.mapContainer{
    width: 100%;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.mapContainer iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
