
.fieldAreaContainer {
    position: relative;
    z-index: 1;
    width: 30vw;
    min-width: 290px;
    margin: auto;
    text-align: center;
    padding: 2em 1em 1em 1em;
}

#questionField{
    max-width: 85%;
    min-width: 85%;
    max-height: 10em;
}

.fieldForm {
    position: relative;
    text-align: center;
    display: block;
    outline: none;
}

.fieldGroup 	 {
    display: inline-block;
    position:relative;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-bottom:2em;
}

.fieldFormInput  	{
    text-align: center;
    font-size:1em;
    position: unset;
    z-index: -1;
    outline: none;


    width: 25vw;
    min-width: 250px;
    margin-top: 1.2em;

    background: transparent;
    border: none;
    border-bottom:1px solid #757575;
}

.contactField {
    min-width: 200px;
}

#searchField {
    border-bottom:1px solid darkgray;
}

.fieldFormInput:focus 		{ outline:none; }

/* SEARCH ICON ======================================= */

#mainSearchButton {
    position: absolute;
    z-index: 5;
    background: transparent;
    border: none;
    margin: -2.5em auto auto 6rem;
    outline: none;
    width: 1.9em;
    height: 1.9em;
}

#mainSearchButton:hover {
    cursor: pointer;
}

#mainSearchButton:active {
    transform: translateY(0.3em);
}

/* LABEL ======================================= */
.fieldFormLabel				 {
    font-size:1.5em;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    text-align: center;
    left:2em;
    top:0.4em;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

.contactField {
    text-align: left;
}

#questionLabel {
    left: 50%;
    margin-left: -2rem;
}

#searchLabel {
    font-size: 1.3em;
    color: darkgray;
    /*margin-top: 1em;*/
}

#contactBodyField {
    overflow: auto;
}

/* active state  #####################################*/
#questionField:focus ~ #questionLabel		{
    margin-left:-10rem;
    top:-1em;
    font-size:0.8em;
    color:darkgray;
}

#searchField:focus ~ #searchLabel, #loginUsernameField:focus ~ #loginUsernameLabel, #loginPasswordField:focus ~ #loginPasswordLabel,
#searchField:valid ~ #searchLabel, #loginUsernameField:valid ~ #loginUsernameLabel, #loginPasswordField:valid ~ #loginPasswordLabel,
#contactEmailField:focus ~ #contactEmailLabel, #contactSubjectField:focus ~ #contactSubjectLabel, #contactBodyField:focus ~ #contactBodyLabel,
#contactEmailField:valid ~ #contactEmailLabel, #contactSubjectField:valid ~ #contactSubjectLabel, #contactBodyField:valid ~ #contactBodyLabel,
#loginUsernameField:focus ~ #restoreUsernameLabel, #loginUsernameField:valid ~ #restoreUsernameLabel {
    font-size: 0.8em;
    top:-1em;
    color:darkgray;
}

/*!* BOTTOM BARS ================================= *!*/
/*.bar 	{ position:relative; display:block; width:100%; }*/

/*.bar:before, .bar:after 	{*/

    /*!*kriipsu css #########################*!*/

    /*content:'';*/
    /*height:2px;*/
    /*width:0;*/
    /*bottom:1px;*/
    /*position:absolute;*/
    /*background:#FFBE58;*/
    /*transition:0.2s ease all;*/
    /*-moz-transition:0.2s ease all;*/
    /*-webkit-transition:0.2s ease all;*/
/*}*/
/*.bar:before {*/
    /*left:50%;*/
/*}*/
/*.bar:after {*/
    /*right:50%;*/
/*}*/

/* active state  #####################################*/
.fieldFormInput:focus ~ .bar:before, .fieldFormInput:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.fieldHighlight {
    position:absolute;
    height:60%;
    width:90%;
    top:25%;
    left:0;
    margin-left: 1.4em;
    pointer-events:none;
    opacity:0.3;
}

/* active state  #####################################*/
.fieldFormInput:focus ~ .fieldHighlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#FFBE58; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#FFBE58; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#FFBE58; }
    to 	{ width:0; background:transparent; }
}

@media (max-width: 1200px){
    .fieldFormLabel {
        font-size: 1.2em;
    }

    #searchLabel, #restoreUsernameLabel {
        font-size: 1em;
    }
}

@media (min-width: 1200px){
    #mainSearchButton {
        margin-left: 8rem;
        width: 3em;
    }
}
