
/* ------------- Footer ------------- */

.footerContainer {
    background-color: #AFD0F8;
}

#footerMail {
    margin-left: 1em;
    margin-top: -0.5em;
    color: dimgray;
}

#askUTlogoFooter {
    height: 1.8em;
    margin-top: 0.7em;
    margin-left: 0.7em;
    opacity: 0.5;
}

.sqlAggregateInfo {
    color: dimgray;
    font-size: 1em;
    float: right;
    margin-right: 1em;
}

@media (max-width: 720px) {
    #askUTlogoFooter {
        height: 1.5em;
        margin-top: 0.8em;
        opacity: 0.7;
    }
}

@media (max-width: 800px) {
    .sqlAggregateInfo {
        display: none;
    }

    #footerMail {
        display: none;
    }
}