/* ------------- Header ------------- */

/*#headerContainer {*/
    /*text-align: center;*/
/*}*/

.headerNav {
    opacity: 0.9;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    overflow: hidden;
    padding-top: 1em;
    padding-bottom: 1em;
}

#userMenuButton {
    display: block;
}

#headerMenu {
    display: flex;
    justify-content: center;
    position: relative;
    height: 4em;
}

.headerMenuLink {
    width: 7em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 1.2em;
    /*margin: 0.6em;*/
    margin-top: -0.7em;
    padding: 2.2em;
    margin-left: -2em;
}

#sub{
    margin-left: 3.5em;
}

#ques {
    margin-right: -3em;
}

#about{
    margin-left: -6em;
}

#contact {
    margin-left: -6em;
}

#logo{
    margin-left: -1.5em;
    margin-top: -1.2em;
}

.headerMenuLink:active {
    border-bottom: 0.3em yellow;
}

#askUTlogo {
    /*margin-left: -1em;*/
    /*margin-top: -0.5em;*/
    width: 8em;
}

/*Kasutaja ja tema drop-down menüü*/
.userMenuButton {
    border: none;
    outline: none;
    cursor: pointer;
}

#userIcon {
    width: 3.5em;
    outline: none;
    cursor: pointer;
    margin-top: 0.5em;
}

div.userMenuButton.jsToggleMenuUser {
    right: 2em;
    position: absolute;
    top: -0.5em;
}

.jsToggleMenuUser {
    background: none;
}

.userMenuContainer {
    display: none;
    background: none;
}

.userMenu {
    margin: 1em;
}

.userMenuList {
    list-style-type: none;
    background: white;
    /*position: fixed;
    top: 5%;
    right: 1%;*/
    width: 10em;
    float: right;
}

.userMenuItem {
    text-decoration: none;
    border-bottom: 0.06em solid #D8D8D8;
    padding-bottom: 0.625em;
    color: black;
    margin-bottom: 1em;
    margin-left: -2em;
}

/*pole hetkel veel implementeeritud täielikult*/
.shrink {
    /*padding: 4em;
    max-width: 10em;*/
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

/*Burgermenüü mobiilis*/
.burgerButton {
    position: fixed;
    left: 5%;
    opacity: 0.9;
    border: none;
    cursor: pointer;
    display: none;
    outline: none;
    background: none;
}

.burger {
    width: 2.2em;
    height: 0.2em;
    background-color: black;
    margin: 0.4em 0;
}

.stackedMenu {
    display: none;
}

.jsCollapse {
    display: none;
}

.stackedMenuList {
    display: none;
}

.mobileMenu {
    list-style-type: none;
    padding: 0.2em;
}

.burgerMenuItem {
    text-decoration: none;
    color: black;
    /*font-size: 1.2em;*/
}


/*Mobiilivaade*/
@media (max-width: 950px) {
    .headerNav .headerMenuLink:not(:nth-child(4)) {
        display: none;
    }

    .headerMenuLink{
        font-size: 1em;
    }

    #logo{
        margin-top: -2.5em;
        margin-left: 0.1em;
    }

    #headerMenu {
        height: 2em;
    }

    .headerNav {
        background: white;
    }

    .stackedMenuList{
        display: block;
        padding-top: 1em;
    }

    .userMenuList {
        width: 100%;
        display: block;
        top: 2.5em;
        right: 0;
        left: 0;
    }

    .burgerButton {
        display: block;
    }

    .userMenuItem {
        border-bottom: 0.06em solid #D8D8D8;
        padding-bottom: 0.125em;
        margin-left: 2em;
    }

    #userIcon {
        width: 2.5em;
        position: fixed;
        right: 5%;
        top: 1.4%;
        margin-top: 0;
    }
}
