/*.joinTable, .joinTableTr, .joinTableTd, .joinTableTh {*/
     /*border: 1px solid dimgray;*/
     /*padding: 0.5em;*/
     /*text-align: left;*/
 /*}*/

/*.joinTable {*/
    /*table-layout: auto;*/
    /*border-collapse: collapse;*/
    /*width: 100%;*/
/*}*/

/*.joinTable td {*/
    /*border: 1px solid #ccc;*/
/*}*/
/*.joinTable th {*/
    /*width: 100%;*/
/*}*/