/* ------------- Landing ------------- */

.landingBody {
    background: linear-gradient(rgba(247, 107, 28, .7), rgba(250, 217, 97, .7)) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#landingContainer {
    margin-left: 3em;
    margin-right: auto;
}

#landingHeader {
    width: 100%;
    position: relative;
}

#landingLogo {
    color: white;
    font-size: 2em;
    display:inline-block;
    text-decoration: none;
}

#loginAndSlogan {
    margin-left: 4em;
}

#landingSlogan {
    color: white;
    font-size: 2.5em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.loginButton {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fcfcfc), color-stop(0.8, #ebebeb));
    -webkit-border-radius: 0.25em 0.25em 0.25em 0.25em;
    -moz-border-radius: 0.25em 0.25em 0.25em 0.25em;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    text-indent: 0;
    border: 0.0625em solid #e8e8e8;
    display: block;
    color: #454545;
    opacity: 0.9;
    font-size: 1em;
    line-height: 2.125em;
    width: 15.625em;
    text-decoration: none;
    text-align: center;
    margin-top: 1.5em;
}

.loginButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ebebeb), color-stop(1, #fcfcfc));
}

.loginButton:active {
    position: relative;
    top: 0.06em;
}

.loginButton span.icon1 {
    background: url(../images/landing_icon1.svg) no-repeat center;
}

.loginButton span.icon2 {
    background: url(../images/landing_icon2.svg) no-repeat center;
}

.loginButton span.icon3 {
    background: url(../images/landing_icon3.svg) no-repeat center;
}

.loginButton span.icon4 {
    background: url(../images/landing_icon4.svg) no-repeat center;
}

#anonymousEnter .helpIcon {
    background: url(../images/helpingInfo.svg) no-repeat center;
}

.loginButton span.iconProperties {
    float: left;
    width: 2em;
    height: 2em;
}

#moreQuestions {
    margin: 0 auto;
}

#anonymousEnter span.helpIconProperties {
    float: right;
    width: 1em;
    height: 1.2em;
    padding-left: 0.2em;
}

#anonymousEnter {
    color: black;
    font-size: 1em;
    text-decoration: underline;
    display: inline-block;
    margin-top: 1em;
    margin-left: 3.7em;
}

#anonymousEnter:active {
    position: relative;
    top: 0.06em;
}

#languageIcons {
    margin-left: 5.2em;
    margin-top: 1em;
    width: 6em;
}

.languageSelect {
    display: inline-flex;
}

.languageSelect:active {
    position: relative;
    top: 0.06em;
}

.languageSelect span.LanguageIconProperties {
    float: left;
    width: 2.5em;
    height: 1.9em;
    margin-top: 1em;
}

.languageSelect span.est {
    background: url(../images/landing_lang_est.svg) no-repeat center;
    height: 1.9em;
    width: 2.5em;
}

.languageSelect span.eng {
    background: url(../images/landing_lang_eng.svg) no-repeat center;
    height: 1.9em;
    width: 2.5em;
    margin-left: 0.7em;
}

#plane {
    position: absolute;
    right: 10%;
    bottom: 10%;
    max-width: 70%;
    height: auto;
}

/* Popup container - can be anything you want */
.userHelpPopup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.userHelpPopup .popuptext {
    visibility: hidden;
    width: 10em;
    background-color: rgba(255, 255, 255, 0.95);
    color: rgba(0, 0, 0, 0.88);
    text-align: center;
    border-radius: 0.4em;
    padding: 0.6em 0.4em;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -1.2em;
    margin-top: 0.5em;
}

/* Popup arrow */
.userHelpPopup .popuptext::after {
    content: "";
    position: absolute;
    top: -12%;
    left: 12%;
    margin-left: -0.3em;
    border: 0.3em solid transparent;
    border-bottom-color: rgba(255, 255, 255, 0.88);
}

/* Toggle this class - hide and show the popup */
.userHelpPopup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/*Erinevad ekraanisuurused*/

@media (max-width: 1200px) {
    #landingContainer {
        margin-left: 5em;
        margin-right: auto;
    }

    #loginAndSlogan {
        margin-top: 8em;
        margin-left: 3em;
    }

    #plane {
        right: 7%;
        bottom: 7%;
        width: 30%;
    }
}

@media (max-width: 600px) {
    #landingContainer {
        margin-left: 2em;
        margin-right: auto;
    }

    #landingLogo {
        font-size: 1.4em;
    }

    #landingSlogan {
        font-size: 1.8em;
        margin-top: 1.5em;
        margin-right: 0.5em;
    }

    #loginAndSlogan {
        margin-top: 1em;
        margin-left: 2em;
    }

    #plane {
        right: 5%;
        bottom: 5%;
        width: 20%;
    }

    .userHelpPopup .popuptext {
        margin-left: -9em;
        background-color: rgba(255, 255, 255, 0.95);
        left: -50%;
    }

    .userHelpPopup .popuptext::after {
        left: 93%;
    }
}