
/* ------------- Login page ------------- */

#loginContainer {
    width: 45vw;
    margin-top: -5em;
    margin-bottom: 3em;
    text-align: center;
}

#loginFieldContainer {
    width: 100% !important;
    padding: 1em;
    text-align: center;
}

#loginForm {
    width: 91.5%;
    text-align: center;
}

#loginPageMain {
    max-height: 100vh;
}

.loginPageLogin {
    margin-left: 27%;
    width:45% !important;
    margin-top: 1em !important;
}

.registerHereLink {
    font-weight: bold;
    text-decoration: underline;
}