
/* ------------- Main ------------- */

#mainPageMain {
    position: relative;
    z-index: 2;
    padding-top: 0;
    margin: 6em auto auto auto;
    text-align: center;
    width: 70vw;
    min-width: 300px;
}

/* search #####################################*/
.result{
    position: absolute;
    z-index: 99999;
    top: 100%;
    left: 0;
    box-shadow: 0 0 7em 0.1em rgba(0,0,0,0.2);
}
.result{
    width: 100%;
    box-sizing: border-box;
    max-height: 10em;
    overflow-y: auto;
}

.resultName{
    position: relative;
    z-index: 99999;
    top: 100%;
    left: 0;
    box-shadow: 0 0 7em 0.1em rgba(0,0,0,0.2);
}
.resultName{
    width: 100%;
    box-sizing: border-box;
    max-height: 8em;
    overflow-y: auto;
}

.fieldGroup input[type="text"] textarea{
    box-sizing: border-box;
    max-height: 10em;
    overflow-y: auto;
}
/* Formatting result items */
.result p{
    background: white;
    margin: 0;
    padding: 7px 10px;
    border-top: none;
    cursor: pointer;
}
.result p:hover{
    background: #f2f2f2;
}

/* ask #####################################*/
#askBar {
    width: 30vw;
    margin-top: 2em;
}

#closeAsk {
    float: right;
    margin-right: 0.5em;
    font-size: 1.5em;
    cursor: pointer;
}

.askInput {
    margin-top: -1em;
    /*padding-bottom: 0.5em;*/
}

/*#askLabel {*/
    /*margin-top: 0.5em;*/
/*}*/

#askBtn {
    width: 7em;
    /*margin-top: 1em;*/
}

#askBody {
    padding: 1.5em;
}

#askBody textarea {
    display: block;
    width: 70%;
    max-width: 30em;
    margin: 0 auto 1em;
}

#askBody button {
    display: inline;
}
/* recentQuestions  #####################################*/

#mainBox {
    width: 65vw;
}

#mainRecentlyAskedAreaHeader {
    position: relative;
    /*z-index: 3;*/
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}

.mainQuestionBoxes {
    position: relative;
    width: 100%;
    height: auto;
    display: table;
    padding-bottom: 1em;
}

.mainQuestionButton {
    width: auto;
    min-width: 16em;
    max-width: 17vw;
    height: auto;
    min-height: 7em;
    background-color: rgba(255, 190, 88, 75);
    display: inline-block;
    box-sizing: border-box;
    margin: 0.3em;
    border: none;
    border-radius: 2%;
    outline: none;
    cursor: pointer;

    -webkit-box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
    -moz-box-shadow:  0.1em 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
    box-shadow:  0.1em 0.1em 0.2em 0.1em rgba(0,0,0,0.2);
}

.qBoxContent{
    width: 100%;
    height: 97%;
    padding: 0.5em;
}

.qBoxAvatar {
    position: relative;
    z-index: 9;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
    float: left;
    background-color: beige;
}

.qBoxQContainer {
    position: relative;
    text-align: left;
    height: 55%;
    max-height: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: -0.6em;
}

.qBoxQuestion {
    position: relative;
}

.readMoreLink {
    font-weight: bold;
    font-size: 1em;
    text-decoration: underline;
}

.qBoxHr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.3));
}

.qBoxFooterText {
    font-size: 1em;
    float: right;
    color: rgba(0,0,0,0.75);
    padding: 0.2em;

}

.qBoxAnswerNr {
    font-size: 1em;
    float: left;
    color: rgba(0,0,0,0.75);
    padding: 0.2em;

}


@media only screen and (min-width: 1200px) {
    .mainQuestionButton {
        width: 17vw;
        height: 7vw;
    }

    .qBoxFooter {
        margin-top: -3.5em;
    }

    .qBoxQContainer {
        margin-left: 3em;
    }
}

@media only screen and (max-width: 1200px) {
    .qBoxQuestion {
        font-size: 1em;
    }

    .qBoxFooter {
        margin-top: 0;
    }

    .qBoxContent {
        display: inline-flex;
    }

    .qBoxAvatar {
        margin-top: 1em;
    }
}