
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    padding-top: 10em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: inherit;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

#modalBody {
    bottom: 4em;
    overflow: auto;
    min-height: 40%;
    max-height: 40%;
}

#loginModalButtons {
    margin-left: 1.5em;
}

/* Modal Content */
.modalContent {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    background-color: white;
    width: 40rem;
    height: 18rem;
    border-radius: 0.5rem;
    margin: auto;
    overflow: auto;
    box-shadow: 0 0.15em 0.55em 0 rgba(0,0,0,0.2),0 0.3em 1.2em 0 rgba(0,0,0,0.19);

    -webkit-animation-name: show-modal;
    -webkit-animation-duration: 0.6s;
    animation-name: show-modal;
    animation-duration: 0.6s
}

.loginModalContent {
    max-width: 25rem;
}

/* Add Animation */
@-webkit-keyframes show-modal {
    from {opacity:0}
    to {opacity:1}
}

@keyframes show-modal {
    from {opacity:0}
    to {opacity:1}
}

/* The Close Button */
.close {
    color: dimgray;
    float: right;
    font-size: 2em;
}

.close:hover,
.close:focus {
    cursor: pointer;
}

.modalHeader {
    padding: 0.2em 1em;
    text-align: left;
    background-color: white;
    font-size: 1em;
}

.modalAnswer {
    border-radius: 0.2rem;
    text-align: left;
}

#modalAnswer {
    text-align: left;
    margin-left: 1em;
}
.sendButton {
    float: right;
    max-width: 4em;
    margin-top: 0;
}

#modalAnswerArea {
    bottom: 0;
    /*margin-left: -2.5rem;*/
    width: 85%;
    max-width: 85%;
    min-width: 85%;
    height: 10%;
    min-height: 2.5em;
    max-height: 2.5em;
    border: none;
    border-radius: 2%;
    box-shadow: 0.1em 0.1em 0.2em 0.1em rgba(0,0,0,0.4);
}

.modalFooter {
    position: relative;
    display: block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    /*margin-bottom: 1em;*/
    bottom: 0;
    width: 95%;
}

@media (max-width: 700px) {
    .modal {
        width: 100vw;
        height: 100vh;
    }

    #modalQuestion {
        font-size: 0.9em;
    }

    #modalCodeNameLector {
        font-size: 0.7em;
    }

    #modalUserAndTime {
        font-size: 0.7em;
    }

    .modalContent {
        top: 44.5%;
        width: 60vw;
        height: 70vh;
    }

    .modalHeader {
        font-size: 1em;
    }

    .modalFooter {
        margin-top: 1rem;
        text-align: center;
    }

    #modalAnswerArea {
        /*margin-left: -1rem;*/
        width: 95%;
        max-width: 95%;
        min-width: 95%;
        float: none;
    }

    #modalBody {
        min-height: 45%;
        max-height: 45%;
    }

    .sendButton {
        float: none;
    }
}