
/* ------------- Profile ------------- */

#profileHeader {
    z-index: 3;
    font-size: 1.5em;
    padding: 1em;
}


.profileInfoContainer {
    position: relative;
    text-align: center;
    align-content: center;

}

.profileInnerContainer {
    display: inline-block;
    position: relative;
}

.profileHR {
    border: none;
    height: 0.06em;
    color: #e2e2e2; /* IE */
    background-color: #e2e2e2;
    width: 75%;
}
.avatarPicture {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.leftProfileArea {
    position: relative;
    display: inline-block;
    margin: 1em;

}

.rightProfileArea {
    margin: 1em;
    position: relative;
    display: inline-block;
    text-align: left;
}

.profileGroup td {
    padding: 0.25em;
}

#profileButtonDiv {
    padding-left: 0.5em;
}
#profileDeleteButtonDiv {
    padding-left: 0.5em;

}

.profileInput {
    margin-top: -0.5em;
}

