.registerBody {
    background: linear-gradient(rgba(247, 107, 28, .7), rgba(250, 217, 97, .7)) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
}

#registerHeader {
    margin-left: 2.7em;
}

#registerAskUTlogo {
    color: white;
    font-size: 2em;
    display:inline-block;
    text-decoration: none;
}

.registerAreaContainer {
    background: white;
    display: table;
    margin: -1em auto 3em;
    padding: 1.5em;
    -webkit-box-shadow: 0 0 7em 0.1em rgba(0,0,0,0.2);
    -moz-box-shadow:  0 0 7em 0.1em rgba(0,0,0,0.2);
    box-shadow:  0 0 7em 0.1em rgba(0,0,0,0.2);
}

#registerArea {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#registerHeading {
    font-size: 1.5em;
    text-align: center;
}

#registerAbout {
    font-size: 0.8em;
    text-align: center;
    margin-bottom: 3em;
}

.registerInputField[type=text], .registerInputField[type=password], .registerInputField[type=email] {
    padding: 0.5em;
    float: right;
    width: 55%;
    margin-top: -2em;
    margin-left: 2em;
}

.registerLabel {
    font-size: 1em;
    margin-top: 0.2em;
    display: block;
}

#registerButtons {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 1.5em;
}

@media (max-width: 600px) {
    #registerAskUTlogo {
        font-size: 1.4em;
    }
}