
/* ------------- UTIL ------------- */

* {
    font-family: "Lato", serif;
}

body, html{
    background: url("../images/background30-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    height: 100%;
}

a, button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
    outline: none;
}

.main {
    min-height: 100%;
    min-width: 100%;
    padding-top: 6em;
    padding-bottom: 1.5em;
    text-align: center;
}

.whiteBoxContainer {
    position: relative;
    width: 80vw;
    min-width: 300px;
    margin: auto;
    text-align: center;
    background-color: white;

    -webkit-box-shadow: 0 0 7em 0.1em rgba(0,0,0,0.2);
    -moz-box-shadow:  0 0 7em 0.1em rgba(0,0,0,0.2);
    box-shadow:  0 0 7em 0.1em rgba(0,0,0,0.2);
}

.js_enabled #cookie-message {
    display: none;
}

.registerHereLink {
    font-weight: bold;
    text-decoration: underline;
}

/*scrollbar ===================================*/

/* width */
::-webkit-scrollbar {
    width: 0.75em;
    background: whitesmoke;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.31em grey;
    border-radius: 0.5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffbe58;
    border-radius: 0.5rem;
}

/* Mobile view  ===================================*/

@media (max-width: 600px) {
    .recentQuestionsContainer {
        width: 100%;
        overflow-y: inherit;
    }
    .whiteBoxContainer{
        width: 100%;
    }

    #aboutBox, #faqBox, #profileBox, #questionsBox {
        box-shadow: none;
    }

    .whiteBody {
        background: white;
    }

}