
@media only screen and (min-width: 768px) {
    /* arvutile */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

table tr {
    cursor: pointer;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


/* ------------- Questions ------------- */


.questionsContainer {
    position: relative;
}

#pageLine {
    border: none;
    height: 1px;
    color: #e2e2e2; /* IE */
    background-color: #e2e2e2;
    width: 75%;
}

#questionsBox {
    margin: 1.2em auto auto;
    box-sizing: border-box;
    padding: 1em;
}

#questionsHeader {
    position: relative;
    z-index: 3;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    padding: 1em;
}


.tableAskut {
    width: 100%;
    border-collapse: collapse;
}


.tableAskut th {
    background: #ffffff;
    color: black;
    font-weight: bold;
}
.tableAskut td, .tableAskut th{
    padding: 1em;
    text-align: left;
}

.deleteQBtn, .deleteQBtn:hover, .deleteQBtn:focus, .deleteQBtn:active {
    margin-top: 0;
    width: 7em;
    background: rgb(251, 28, 6);
    color: whitesmoke;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1400px)  {

    .tableAskut, .tableAskut td, .tableAskut tbody, .tableAskut th, .tableAskut tr{
        display: block;
    }

    .tableAskut th {
        display: none;

    }

    .tableAskut tr {
        border: 0.05em solid #f8f8f8;
    }

    .tableAskut td{
        border: none;
        border-bottom: 0.05em solid #f8f8f8;
        position: relative;
        padding-left: 50%;
    }

    .tableAskut td:before {
        position: absolute;
        top: 0.2em;
        left: 0.2em;
        width: 45%;
        padding-right: 0.5em;
        white-space: nowrap;
    }

    #questionTable td:nth-of-type(1):before {
        content: "KÜSIMUS";
        font-weight: bold;
    }
    #questionTable td:nth-of-type(2):before {
        content: "AINE KOOD";
        font-weight: bold;
    }
    #questionTable td:nth-of-type(3):before {
        content: "AINE NIMETUS";
        font-weight: bold;
    }
    #questionTable td:nth-of-type(4):before {
        content: "ÕPPEJÕUD";
        font-weight: bold;
    }
    #questionTable td:nth-of-type(5):before {
        content: "AEG";
        font-weight: bold;
    }
    #questionTable td:nth-of-type(6):before {
        content: "VASTUSEID";
        font-weight: bold;
    }

    #subjectTable td:nth-of-type(1):before {
        content: "AINE KOOD";
        font-weight: bold;
    }
    #subjectTable td:nth-of-type(2):before {
        content: "AINE NIMETUS";
        font-weight: bold;
    }
    #subjectTable td:nth-of-type(3):before {
        content: "INSTITUUT";
        font-weight: bold;
    }
    #subjectTable td:nth-of-type(4):before {
        content: "KÜSIMUSI";
        font-weight: bold;
    }
    #subjectTable td:nth-of-type(5):before {
        content: "VASTUSETA";
        font-weight: bold;
    }

    #joinTable td:nth-of-type(1):before {
        content: "Küsimus";
        font-weight: bold;
    }
    #joinTable td:nth-of-type(2):before {
        content: "Õppejõud";
        font-weight: bold;
    }
    #joinTable td:nth-of-type(3):before {
        content: "Aine nimetus";
        font-weight: bold;
    }
    #joinTable td:nth-of-type(4):before {
        content: "Instituut";
        font-weight: bold;
    }
    #joinTable td:nth-of-type(5):before {
        content: "Aeg";
        font-weight: bold;
    }

    #answerTable td:nth-of-type(1):before {
        content: "KÜSIMUS";
        font-weight: bold;
    }
    #answerTable td:nth-of-type(2):before {
        content: "AINE KOOD";
        font-weight: bold;
    }
    #answerTable td:nth-of-type(3):before {
        content: "SINU VASTUS";
        font-weight: bold;
    }
    #answerTable td:nth-of-type(4):before {
        content: "x";
        font-weight: bold;
    }
}